node_modules
.next
.git
.gitignore
*.md
docs
.env
.env.local
.env.production
.env.example
.dockerignore
.vitest
vitest.config.ts
vite.config.ts
react-router.config.ts
__create
plugins
src
.vscode
.idea
*.log
npm-debug.log*
.DS_Store
